/*external ccs/external styling*/
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
	/*CSS Reset*/
	margin: 0;
	padding: 0;
}

nav {
	background-color: white;
}

/*selectors - used to select elements by their tag name*/
h1 {
	color: black !important;
	text-align: center;
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

section {
	height: 100vh;
	/*vh means viewport height meaning this measurement takes the percentage of the overall height of the screen you are viewing*/
	text-align: center;
	/*allow us to aligh our text horizontally*/
}

ol {
	list-style-type: none;
}

#zuitt-motto {
	letter-spacing: 5px;
}
body {
	background-color: skyblue;
}

html {
	scroll-behavior: smooth;
}

/*class selector for elements of the same classes*/
.offering-item {
	text-transform: uppercase;

}

/*attribute selector - allows us to select particular elements with the same attribute
	tagname[attribute]
		border-with
*/
input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*Descendant Selector*/
#bootcamp-learning-list li {
	color: #075966;
}

/*General Sibling Selector - allows us to select siblings that are after our previous sibling (first selector)
sbiling ~ selected sibling*/

/*h2 ~ a {
	text-decoration: none;
}*/

a {
	text-decoration: none;
}

form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	/*postion property changes the position of an element based on a certain criteria.
	position: relative - allows to move the position property to add a certain measurement to the left of the element.
	teh value % is based on the measurement to the left of the element being the section tag which is a block element and occupies 

	*/
	position: relative;
	left: 37%;
}

/*Child Selector allows to select a particular child parent element.
parent > child
*/
section > form > label {
	color: rgb(0,0,128);
}

/*
	Mini-Activity
	Style our button with the following specifications: ;
		- the text of the button should white
		-the background color of the button has a hex value of #cf0053
		- it should have 0 border
		- it's border radius should be at least 15px
*/

button {
	color: white;
	background-color: #cf0053;
	border: 0;
	border-radius: 15px;
	padding: 2px;
	margin-top: 4px;
}