/*element selector*/
* {
	font-family: verdana, sans-serif;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 3rem;	
}

th {
	border: 1px solid black;
	width: 200px;
}

td {
	border: 1px solid black;
}

/*class selector*/
.title {
	font-size: 2rem;
}

.center {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding: 5px;
}

.lang {
	background-color: lightgreen;
}


#landing {
	height: 100vh;
	text-align: center;	
}
#classUPcase {
	text-transform: uppercase;
}

#cy {
	color: yellow;
}

.sec-color {
	padding: 10px 10px 10px 10px;
	/*padding-bottom: 10px;*/
	height: 25vh;
	text-align: center;
	background-color: #EEEDE7;
} 

img + #lang-offered {
	list-style: none;
}

/*#suitt-motto */img {
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
}
/*child selector*/
section > h5 {
	letter-spacing: 10px;
}